* {
    font-family: 'Inter', sans-serif;;
}

.contenedor {
    display: flex;
    height: 100%;
}

/* estilos columna 1 */
.franja1 {
    height: 1.5px;
    background-color: white;
}

#columna1 {
    background-color: #0F4C75;
    padding: 45px;
    color: white;
}

.image-profile {
    margin: 0px 0px 25px;
    height: 350px;
    width: 300px;
    border-width: 10px;
    border-style: solid;
    border-color: white;
}

.name {
    height: 20px;
    width: 20px;
}

.contenido {
    margin: 20px 0px;
    font-size: 15px;
}

.skills {
    padding: 10px 20px;
    list-style: none;
    margin: 5px;
}

a:visited {
        text-decoration: none;
        color: #A5DEE5;
}

/* estilos columna 2 */
#columna2 {
    padding: 40px 150px;
}

.nombre {
    text-align: center;
    font-size: 25px;
}

.franja2 {
    border: none;
    height: 4px;
    background-color: black;
}

.seccion {
    margin: 25px 0px;
    font-size: 16px;
}